<header class="h-[10vh]">
    <div class="h-[100%] flex justify-between items-center bg-[#FBE9B1] px-[100px]">
        <div class="flex items-center gap-[100px]">
            <a href="/" class="flex items-center gap-4 hover:underline text-xl font-medium text-[#030301]">
                <i class="fa-regular fa-hand-point-left"></i>
                <p>Retour à la boutique</p>
            </a>
            <h1 class="text-4xl font-black">BackOffice - Bienvenue <%= user.prenom %> ! </h1>
        </div>
    </div>
</header>