<%- include('components/head') %>

    <title>Formulaire</title>
</head>
<body>
    <%- include('components/navbar') %>
    <h1>Formulaire avec traitement</h1>
    <form action="/dab" method="POST" id="formDab">
        <label for="inputPrice">Entrez votre montant :</label>
        <input type="number" id="inputPrice" name="inputPrice" required>
        <label for="inputCountry">Entrez votre devise :</label>
        <select name="inputCountry" id="inputCountry">
            <option value="€">€</option>
            <option value="$">$</option>
            <option value="£">£</option>
        </select>
        <button type="submit">Envoyer</button>
    </form>

    <% if (result) { %>
        <h2>Résultats :</h2>
        <p><%= result.result %></p>
    <% } %>
</body>
</html>
