<%- include('components/head') %>

    <title>Accueil</title>
    
</head>
<body>
    <%- include('components/navbar') %>

    <h1>Bienvenue sur ma page d'accueil</h1>
    <p>Cliquez sur le menu pour naviguer vers le formulaire ou d'autres pages.</p>

</body>
</html>
