<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    
</head>
<body>
    <%- include('components/navbar') %>

    <h1>Bienvenue sur ma page d'accueil</h1>
    <p>Cliquez sur le menu pour naviguer vers le formulaire ou d'autres pages.</p>

</body>
</html>
