<%- include('../components/head') %>

    <title>Accès non autorisé</title>
    
</head>
<body>
    <%- include('../components/header') %>

    <h1>401</h1>
    <p>Accès non autorisé</p>
</body>
</html>