<%- include('../components/head') %>

    <title>Erreur interne du serveur</title>
    
</head>
<body>
    <%- include('../components/header') %>

    <h1>500</h1>
    <p>Erreur interne du serveur</p>
</body>
</html>