@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* 

Font : Inter
Font-Size standard : 16px 

Colors:

- yellow: #FBE9B1
- pink : #EAAED6
- white : #F5F5F5
- black : #030301


*/

body{
    font-family: 'Inter', sans-serif;
    background-color: #F5F5F5;
}

.bg-gradient-ypt{
    background: linear-gradient(0deg, rgba(234,174,214,0) 0%, rgba(234,174,214,1) 20%, rgba(234,174,214,1) 70%, rgba(251,233,177,1) 100%);
}

.bg-gradient-footer{
    background: linear-gradient(180deg, rgba(234,174,214,0) 0%, rgba(234,174,214,1) 20%, rgba(234,174,214,1) 70%, rgba(251,233,177,1) 100%);
}

.underline-yellow {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: #FBE9B1;
}

.underline-pink {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: #EAAED6;
}

.separator {
    height: 15vh;
}

.bg-bonbon{
    background-image: url('../images/bonbon-default.jpg');
    background-size: cover;
}