<%- include('../components/head') %>

    <title>Accueil</title>
    <link rel="stylesheet" href="/static/styles/index.css">

</head>
<body class="overflow-hidden">
    <%- include('../components/profil-header') %>
    <div class="h-[80vh] flex justify-center items-center">
        <%- include('../components/navbar') %>
        <div class="w-[90%]">
        </div>
    </div>
    <%- include('../components/footer') %>
    <script src="/static/script/indexScript.js"></script>
</body>
</html>
